### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### IDE ###
# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# VSCode
.vscode/

### Taskfile ###
Taskfile.yml

### Testing ###
# Unit test / coverage reports
coverage/